<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://code.alibabatech.com/schema/dubbo
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">

    <!-- 朋友圈 -->
    <!--<dubbo:reference id="feedsApi"-->
                     <!--interface="com.yryz.qsource.modules.feeds.FeedsApi" registry="hwq"-->
                     <!--check="false"-->
                     <!--timeout="30000"/>-->

    <!-- 关注 -->
    <dubbo:reference id="followApi"
                     interface="com.jzc.spring.dubbo.module.follow.FollowApi" registry="hwq"
                     check="false"
                     timeout="30000"/>

    <!-- hello -->
    <dubbo:reference id="helloApi"
                     interface="com.jzc.spring.dubbo.module.release.HelloEsApi" registry="hwq"
                     check="false"
                     timeout="30000"/>

</beans>